<div layout="row" layout-align="start center">
  <div class="footer-container">
    <div class="footer-inner">
      <a>سرزمین شاتل</a>
      <a>پایگاه خبری تحلیلی کاپ</a>
      <a>نماوا، تماشای آنلاین فیلم</a>
    </div>
    <div class="footer-inner">
      <a>سرزمین پشتیبانی فنی</a>
      <a>پایگاه خبری تحلیلی صدای مشتری</a>
      <a>نماوا، تماشای آنلاین اخبار و تازه‌ها</a></div>
    <div class="footer-inner">
      <div class="join-us">
        <div>
          <!--<input placeholder="پست الکترونیک"></input>-->
        </div>
        <div>
          <!--<input class="join-btn"> </input>-->
        </div>
      </div>
    </div>
  </div>
  <span class="md-caption">&copy; © 2005-2017 همه حقوق برای شرکت شاتل محفوظ است. </span>
  <span flex></span>
  <!--<img src="app/assets/images/x-logo.png" width="100">-->
</div>